.component-1-child {
  	position: absolute;
  	height: 100%;
  	width: 20.91%;
  	top: 0%;
  	right: 79.09%;
  	bottom: 0%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.union-icon {
  	position: absolute;
  	height: 71.82%;
  	width: 71.26%;
  	top: 25.52%;
  	right: 0.01%;
  	bottom: 2.66%;
  	left: 28.73%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.component-1 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 42.8px);
  	width: 85.6px;
  	height: 22px;
}
.component-1-wrapper {
  	position: absolute;
  	top: 7.76px;
  	left: calc(50% - 42.52px);
  	width: 85.6px;
  	height: 22px;
}
.logo1 {
  	width: 113.4px;
  	position: relative;
  	height: 37.5px;
}
.logo {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 0px 0px 17px;
}
.menubox a {
  text-decoration: none;
  color: black;
  font-weight: normal;
}
.menubox a .active {
  font-weight: bold;
}
.home {   
  	align-self: stretch;
  	width: 34px;
  	position: relative;
  	line-height: 120%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	flex-shrink: 0;
  	min-width: 33px;
}
.products {  
  	align-self: stretch;
  	width: 52px;
  	position: relative;
  	line-height: 120%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	flex-shrink: 0;
  	min-width: 50px;
}
.news {    
  	align-self: stretch;
  	width: 32px;
  	position: relative;
  	line-height: 120%;
  	display: flex;
  	color: #231f20;
  	align-items: center;
  	justify-content: center;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	flex-shrink: 0;
  	min-width: 31px;
}
.our-partners {   
  	align-self: stretch;
  	width: 73px;
  	position: relative;
  	line-height: 120%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	flex-shrink: 0;
  	min-width: 72px;
}
.menubox {
  	width: 100%;
  	border-radius: 63.55px;
  	background-color: #fff;
  	height: 38px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 24px;
  	box-sizing: border-box;
  	gap: 20px;
  	min-width: 284px;
  	max-width: 327px;
  	max-height: 38px;
}
.menubox-wrapper {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 16px;
}
.en {
  	position: relative;
  	line-height: 120%;
}
.button-lang {
  	width: 49px;
  	border-radius: 84.02px;
  	border: 0.8px solid #231f20;
  	box-sizing: border-box;
  	height: 36px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10.1px 23.5px;
}
.become-a-client {
  	position: relative;
  	line-height: 120%;
  	display: inline-block;
  	min-width: 86px;
}
.icon- {
  	width: 20px;
  	position: relative;
  	height: 20px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.button-client {
  	border-radius: 84.02px;
  	background-color: #fff;
  	height: 36px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 24px;
  	box-sizing: border-box;
  	gap: 4px;
}
.button {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-end;
  	gap: 16px;
  	text-align: left;
  	color: #231f20;
}
.header {
  	position: absolute;
  	width: 98.89%;
  	top: 35px;
  	right: 1.11%;
  	left: 0%;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	gap: 0px;
}
.header-wrapper {
  	width: 100%;
  	position: relative;
  	backdrop-filter: blur(20px);
  	background: linear-gradient(180deg, #f4f4f8 50%, rgba(244, 244, 248, 0));
  	height: 100px;
  	max-width: 1440px;
  	text-align: center;
}
.cardtitle {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 120%;
  	text-transform: uppercase;
  	font-weight: 800;
}
.weblargetitle {
  	align-self: stretch;
  	position: relative;
  	font-size: 36px;
  	letter-spacing: -0.02em;
  	line-height: 140%;
  	font-weight: 800;
  	color: #231f20;
}
.title {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 24px;
}
.image-icon {
  	align-self: stretch;
  	flex: 1;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.line {
  	position: relative;
  	font-family: AppleSDGothicNeoM00;
}
.text {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 4px;
}
.news-headline {
  	align-self: stretch;
  	position: relative;
  	font-size: 18px;
  	letter-spacing: -0.02em;
  	line-height: 120%;
  	font-weight: 800;
  	font-family: 'NanumSquare Neo';
  	color: #2d2d2d;
  	display: inline-block;
  	height: 44px;
  	flex-shrink: 0;
}
.textbox {
  	align-self: stretch;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 16px 24px;
  	gap: 8px;
}
.cardnews {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 399px;
  	height: 404px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.cardpc {
  	width: 399px;
  	position: relative;
  	box-shadow: 0px 16px 40px -16px rgba(2, 43, 71, 0.1);
  	border-radius: 31.25px;
  	background-color: #fff;
  	border: 1px solid #e4e6ed;
  	box-sizing: border-box;
  	height: 404px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.news1 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	gap: 56px 20px;
  	font-size: 14px;
  	color: #5f6275;
  	font-family: Pretendard;
}
.button-request-demo {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 128.65px);
  	border-radius: 84.02px;
  	width: 36px;
  	height: 36px;
  	object-fit: contain;
}
.button-request-demo1 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% + 92.6px);
  	border-radius: 84.02px;
  	width: 36px;
  	height: 36px;
}
.button-request-demo2 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 174.4px);
  	border-radius: 84.02px;
  	width: 36px;
  	height: 36px;
  	object-fit: contain;
}
.button-request-demo3 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% + 138.35px);
  	border-radius: 84.02px;
  	width: 36px;
  	height: 36px;
}
.group-child {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 18px);
  	border-radius: 50%;
  	background-color: #e4e6ed;
  	width: 36px;
  	height: 36px;
}
.div {
  	position: absolute;
  	top: 9px;
  	left: calc(50% - 2px);
  	letter-spacing: -0.02em;
  	line-height: 120%;
}
.ellipse-parent {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 80.53px);
  	width: 36px;
  	height: 36px;
}
.group-item {
  	position: absolute;
  	top: -9px;
  	left: -15px;
  	border-radius: 50%;
  	background-color: #d9d9d9;
  	width: 36px;
  	height: 36px;
  	display: none;
}
.div1 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 3.5px);
  	letter-spacing: -0.02em;
  	line-height: 120%;
}
.ellipse-group {
  	position: absolute;
  	top: 9px;
  	left: 150.38px;
  	width: 7px;
  	height: 16px;
}
.ellipse-container {
  	position: absolute;
  	top: 9px;
  	left: 191.88px;
  	width: 7px;
  	height: 16px;
}
.ellipse-div {
  	position: absolute;
  	top: -9px;
  	left: -14px;
  	border-radius: 50%;
  	background-color: #d9d9d9;
  	width: 36px;
  	height: 36px;
  	display: none;
}
.div3 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 4px);
  	letter-spacing: -0.02em;
  	line-height: 120%;
}
.group-div {
  	position: absolute;
  	top: 9px;
  	left: 232.38px;
  	width: 8px;
  	height: 16px;
}
.page1 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 174px);
  	width: 348.8px;
  	height: 36px;
}
.page {
  	align-self: stretch;
  	flex: 1;
  	position: relative;
  	overflow: hidden;
}
.iconbox {
  	width: 24px;
  	position: relative;
  	height: 24px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.basicbutton {
  	border-radius: 24px;
  	background-color: #231f20;
  	height: 40px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px;
  	box-sizing: border-box;
}
.pagebar {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: space-between;
  	gap: 0px;
  	text-align: center;
  	font-size: 13px;
  	color: #231f20;
  	font-family: AppleSDGothicNeoB00;
}
.title-parent {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 88px;
  	max-width: 1240px;
}
.container {
  	flex: 1;
  	border-radius: 36px;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 108px 83px 88px;
}
.container-wrapper {
  	width: 100%;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 0px 17px 236px;
  	box-sizing: border-box;
  	max-width: 1440px;
  	font-size: 16px;
  	color: #2d2d2d;
  	font-family: 'NanumSquare Neo';
}
.component-1-item {
  	position: absolute;
  	height: 100%;
  	width: 20.93%;
  	top: 0%;
  	right: 79.07%;
  	bottom: 0%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.union-icon1 {
  	position: absolute;
  	height: 71.7%;
  	width: 71.3%;
  	top: 25.48%;
  	right: -0.01%;
  	bottom: 2.82%;
  	left: 28.71%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.component-11 {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 60.45px);
  	width: 120.9px;
  	height: 31.1px;
}
.component-1-container {
  	position: absolute;
  	top: 10.95px;
  	left: calc(50% - 59.93px);
  	width: 120.9px;
  	height: 31.1px;
}
.logo3 {
  	width: 119px;
  	position: relative;
  	height: 53px;
}
.logo2 {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	max-width: 1240px;
}
.iconbox1 {
  	width: 24px;
  	position: relative;
  	height: 24px;
  	overflow: hidden;
  	flex-shrink: 0;
  	object-fit: contain;
}
.text12 {
  	flex: 1;
  	position: relative;
  	line-height: 120%;
  	display: inline-block;
  	min-width: 128px;
}
.icontext1 {
  	align-self: stretch;
  	height: 24px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
}
.p {
  	margin: 0;
}
.icontext3 {
  	align-self: stretch;
  	height: 48px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
}
.icontext {
  	width: 295px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
}
.maps-location {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	left: 0%;
  	letter-spacing: -0.02em;
  	line-height: 180%;
  	font-weight: 600;
  	display: inline-block;
}
.image-3-icon {
  	position: absolute;
  	width: 100%;
  	top: 41px;
  	right: 0%;
  	left: 0%;
  	border-radius: 24px;
  	max-width: 100%;
  	overflow: hidden;
  	height: 261px;
  	object-fit: cover;
}
.map {
  	flex: 1;
  	position: relative;
  	height: 302px;
  	font-size: 16px;
}
.icontext-parent {
  	width: 100%;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	gap: 33px;
  	max-width: 1240px;
}
.contents {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 112px 100px;
  	gap: 33px;
}
.contact {
  	align-self: stretch;
  	background-color: #231f20;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
}
.copyright-billycrew-all {
  	align-self: stretch;
  	flex: 1;
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 180%;
  	font-weight: 500;
  	display: flex;
  	align-items: center;
  	max-width: 1240px;
}
.copyright {
  	align-self: stretch;
  	background-color: #231f20;
  	height: 69px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 24px 96px;
  	box-sizing: border-box;
  	font-size: 16px;
}
.footer {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	font-size: 14px;
  	color: #fff;
}
.mid1440-design-news-list {
  	width: 100%;
  	position: relative;
  	background-color: #f4f4f8;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	min-width: 390px;
  	max-width: 1920px;
  	text-align: left;
  	font-size: 12px;
  	color: #9fa2ae;
  	font-family: Pretendard;
}

